
:root {
--primary: rgb(3, 139, 193);
--fade-bg: rgb(213, 240, 250);
}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
html {
scroll-behavior: smooth;
}

body {
font-family: Arial, Helvetica, sans-serif;
}

nav {
display: flex;
align-items: center;
position: absolute;
left: 0;
top: 0;
width: 100%;
position: fixed;
padding: 10px 20px;
justify-content: space-between;
color: rgb(3, 139, 193);
z-index: 10;
background-color: white;
/* background: linear-gradient(to right, white rgb(3, 139, 193)); */
}

nav .right {
align-items: center;
display: flex;
gap: 30px;
}
.right .logo {
align-items: center;
text-align: center;
display: flex;
margin: 0;
color: rgb(3, 139, 193);
cursor: pointer;
}
.right .logo .m {
font-size: 20px;
}
.right .logo img {
width: 30px;
}

.right .navlinks a{
text-decoration: none;
color: black;
font-size: 12px;
padding: 10px;
margin: 0 5px;
}
.right .navlinks a:hover {
color: rgb(3, 139, 193);
border-bottom: 1px solid rgb(3, 139, 193);
}
.navlinks a.appointment {
display: none;
}

nav .left a {
padding: 7px;
text-decoration: none;
background-color: white;
color: rgb(3, 139, 193);
border-radius: 8px;

}
nav .left a:hover {
color: white;
background-color: var(--primary);
}
/* hamburger */
#menu-toggle {
display: none;
}
.menu-btn {
font-size: 20px;
cursor: pointer;
display: none;
}

/* === HERO SECTION === */
.heroSection {
margin: 80px auto;
display: flex;
flex: 1;
}
.heroSection .heroRight {
padding: 70px 30px;
line-height: 30px;
width: 50%;
margin: 0px auto;
}
.heroSection .heroRight h6{
color: rgb(3, 139, 193);
}
.heroSection .heroRight h2{
color: #333;
font-size: 2rem;
letter-spacing: 2px;
margin-bottom: 20px;
}
.heroSection .heroRight p{
font-size: .8rem;
line-height: 1.5;
margin-bottom: 20px;
}
.heroSection .heroRight a.findDoctors {
text-decoration: none;
padding: 10px;
color: white;
background-color: rgb(3, 139, 193);
border-radius: 8px;
}
.heroLeft {
width: 50%;
margin: 0 auto;
top: 0;
}
.heroLeft img {
align-items: center;
width: 100%;
}

/* == ROWS == */
.rows {
position: relative;
display: flex;
padding: 20px;
margin: 5px auto;
background-color: var(--fade-bg);
}
.card {
flex: 1;
padding: 20px;
box-shadow: 0 0 5px rgb(157, 218, 243);
border-radius: 15px;
margin: 20px 10px;
}
.card1 {
background-color: rgb(3, 139, 193);
color: white;
}
.card .top {
padding: 10px 0;
margin-bottom: 10px;
}
.card p {
font-size: 10px;
}
.card h6 {
font-size: .9em;
margin-bottom: 10px;
}
.card a {
position: absolute;
text-decoration: none;
padding: 3px 10px;
margin: 10px auto;
border-radius: 8px;
color: white;
background-color: var(--primary);
}
.card a:hover {
color: var(--primary);
background: white;
}

/* === SERVICES === */
.services {
height: auto;
}
/* universal class top */
.top {
padding: 20px;
margin: 30px auto;
align-items: center;
text-align: center;
}
.top h6 {
color: var(--primary);
}
.top p {
font-size: 1.4em;
color: #333;
}
.services .top p span {
font-size: larger;
}
/* contents */
.services .contents {
position: relative;
flex: 1;
display: flex;
}
.services .contents .left {
background: url(images/contents.png);
background-position: center;
background-repeat: no-repeat;
background-size: contain;
padding: 30px;
margin: auto;
width: 50%;
height: 500px;
z-index: 1;
}
.services .contents .left .tagRow {
display: flex;
}
.services .contents .left .tags {
position: relative;
margin: 70px auto;
padding: 20px;
align-items: center;
display: grid;
}
.services .contents .left .tags .tag {
align-items: center;
margin: auto;
width: 200px;
height: 100px;
margin: 20px auto;

}
.services .contents .left .tags .tag p{
position: absolute;
/* background-color: white; */
padding: 10px 15px;
border-radius: 15px;
overflow: hidden;
text-align: center;
box-shadow: 0 0 5px #333;
cursor: pointer;
}
.services .contents .left .tags p.eyeCare,
.services .contents .left .tags p.medicine{
margin: 50px 0;
}
.services .contents .left .tags p.cardiology,
.services .contents .left .tags p.dental {
margin: 70px 0;
}
/* logo inside tags */
.services .contents .left .tags .tagLogo {
background-color: var(--primary);
padding: 7px;
border-radius: 50%;
width: 1px;
height: 1px;
color: white;
text-align: center;
}


.services .contents .right {
position: relative;
width: 50%;
padding: 20px;
margin: 50px auto;
}
.services .contents .right h2 {
color: #333;
margin-bottom: 30px;
}
.services .contents .right p {
color: #333;
line-height: 2;
margin-bottom: 30px;
}
.services .contents .right .learnMore {
text-decoration: none;
background-color: var(--primary);
padding: 5px 15px;
border-radius: 15px;
color: white;
text-align: center;
}

/* === FEATURES === */
.features {
padding: 10px;
background-color: var(--fade-bg);
margin: 20px 0;
}
.features .onlineAppointment {
padding: 30px;
margin: 0 auto;
margin-bottom: 20px;
max-width: 700px;
background-color: var(--primary);
color: white;
border-radius: 30px;
display: flex;
}
.features .onlineAppointment h5 {
font-size: 1.3rem;
margin-bottom: 10px;
}
.features .onlineAppointment p{
line-height: 1.5;
margin-bottom: 20px;
}
.features .onlineAppointment a {
text-decoration: none;
padding: 3px 10px;
border-radius: 16px;
background-color: white;
color: var(--primary);
}
.features .onlineAppointment .right img {
width: 180px;
}

/* === APPOINTMENTS === */
.appointments {
margin: 60px auto;
padding: 20px;
display: flex;
}
.appointments .appCard {
flex: 1;
padding: 20px;
margin: 10px auto;
align-items: center;
}
.appointments .left {
padding: 30px;
margin: 100px auto;
}
.appointments .left h6 {
color: var(--primary);
margin-bottom: 10px;
}
.appointments .left .heading {
font-size: 1.4rem;
color: #333;
margin-bottom: 20px;
}
.appointments .left .text {
color: #333;
line-height: 1.5;
margin-bottom: 20px;
}
.appointments a {
text-decoration: none;
padding: 3px 10px;
border-radius: 16px;
background-color: var(--primary);
color: white;
}
.appointments a:hover {
background-color: var(--fade-bg);
color: var(--primary);
border-bottom: 1px solid var(--primary);
border-left: 2px solid var(--primary);
}
.appointments .right img {
margin: 200px auto;
align-items: center;
}

/*  === DOCTORS === */
.doctors {
padding: 20px;
position: relative;
background-color: var(--fade-bg);
}
.doctors .doctorsRow {
display: flex;
margin: 0 auto;
justify-content: space-around;
}
.doctors .doctorsRow .card {
flex:1;
max-width: 300px;
overflow: hidden;
background-color: var(--primary);
color: white;
text-align: center;
cursor: pointer;
}
.doctors .doctorsRow .card img {
width: 100%;
background-color: white;
border-radius: 20px;
margin-bottom: 10px;
}
.doctors .doctorsRow .card h3 {
font-size: 15px;
margin-bottom: 5px;
}
.doctors .doctorsRow .card p {
font-size: .7rem;
}
/* .doctors .seeAll {
border: 1px solid red;
padding: 10px;
} */
.doctors .seeAll a {
text-decoration: none;
padding: 3px 20px;
border-radius: 16px;
background-color: var(--primary);
color: white;
}

/* === BLOG === */
.blog {
padding: 20px;
margin: 0 auto;
}
.blog .blogRow {
display: flex;
flex-direction: row;
flex: 1;
justify-content: space-around;
}
.blog .blogRow .blogCard {
max-width: 300px;
margin: 10px auto;
padding: 10px;
box-shadow: 0 0 10px var(--primary);
border-radius: 10px;
}
.blog .blogRow .blogCard h3 {
font-size: 20px;
color: var(--primary);
text-align: center;
margin-bottom: 10px;
}
.blog .blogRow .blogCard p{
line-height: 1.4;
margin-bottom: 20px;
}
.blog .blogRow .blogCard a{
text-decoration: none;
padding: 3px 10px;
background-color: var(--primary);
color: white;
border-radius: 10px;
}
.viewMoreBlogs, .seeAll, .footer p {
max-width: 130px;
margin: 10px auto;
}
.viewMoreBlogs a{
text-decoration: none;
color: white;
background-color: var(--primary);
padding: 6px 17px;
border-radius: 10px;
}
.viewMoreBlogs a:hover {
color: var(--primary);
background-color: var(--fade-bg);
}

/*  === CONTACT === */
.contact {
padding: 20px;
position: relative;
margin: 0 auto;
background-color: var(--fade-bg);
}
.contact .contactForm {
margin: 50px auto;
max-width: 500px;
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 5px #333;
}
input{
width: 100%;
padding: 8px;
margin-bottom: 10px;
border: none;
}
textarea {
width: 100%;
height: 70px;
border: none;
border-bottom: 10px;
}
input[type="submit"] {
background-color: var(--primary);
color: white;
}
input[type="submit"]:hover {
color: var(--primary);
background: white;
}

/*  === FOOTER === */
.footer {
padding: 20px;
background-color: var(--primary);   
}
#footer p {
max-width: 300px;
}




@media (max-width: 768px) {
#navlinks {
    position: absolute;
    top: 60px;
    left: -100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    /* background-color: rgb(218, 240, 249); */
    padding: 20px;
    height: 70vh;
    width: 150px;
    box-shadow: 0 0 5px rgb(183, 231, 250);
    z-index: 1000;
    background-color: white;
    transition: left .5s;
}
.navlinks a.appointment {
    position: absolute;
    bottom: 20px;
    padding: 7px;
    text-decoration: none;
    background-color: white;
    color: rgb(3, 139, 193);
    border-radius: 8px;
    display: block;
}
.navlinks a.appointment:hover {
    color: white;
    background-color: rgb(3, 139, 193);
    border: none;
}
nav .left {
    display: none;
}

/* toggle hamburger */
#menu {
    display: block;
}
#menu-toggle:checked ~ #navlinks {
    left: 0;
}
#menu-toggle:checked ~ #menu {
    display: none;
}
#menu-toggle:checked ~ #close {
    display: block;
}

/* DOCTORS */
.doctors .doctorsRow {
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}
/* appontment cards */
.rows {
    flex-direction: column;
}
.card {
    align-items: center;
    text-align: center;
}

/* service .services .contents  */
.services .contents {
    flex-direction: column;
}


}
@media (max-width: 840px) {
.services .contents .left,
.services .contents .right {
    width: 100%;
}
}
@media (max-width:600px) {
.features .onlineAppointment .right {
    margin: auto;
}
.features .onlineAppointment .right img {
    width: 100px;
}
}
@media (max-width: 930px) {
nav{
    align-items: center;
    padding-bottom: 25px;
}
nav .right {
    flex-direction: column;
}
nav .right .logo {
    position: absolute;
    left: 20px;
}
nav .right .navlinks {
    position: absolute;
    top: 50px;
    left: 15px;
    background-color: white;
}
}
